<?xml version="1.0" encoding="UTF-8"?>
<config>
    <doc nome="NF-e" versao="3.10" descricao="Nota fiscal eletrônica">
        <uf sigla="SP">
            <ambiente nome="Produção">
                <servico nome="" url=""/>
<servico nome="RecepcaoEvento" versao="1.00	https://nfe.fazenda.sp.gov.br/ws/recepcaoevento.asmx
<servico nome="NfeConsultaCadastro" versao="2.00	https://nfe.fazenda.sp.gov.br/ws/cadconsultacadastro2.asmx
<servico nome="NfeInutilizacao" versao="3.10	https://nfe.fazenda.sp.gov.br/ws/nfeinutilizacao2.asmx
<servico nome="NfeConsultaProtocolo" versao="3.10	https://nfe.fazenda.sp.gov.br/ws/nfeconsulta2.asmx
<servico nome="NfeStatusServico" versao="3.10	https://nfe.fazenda.sp.gov.br/ws/nfestatusservico2.asmx
<servico nome="NFeAutorizacão" versao="3.10	https://nfe.fazenda.sp.gov.br/ws/nfeautorizacao.asmx
<servico nome="NFeRetAutorizacao" versao="3.10	https://nfe.fazenda.sp.gov.br/ws/nferetautorizacao.asmx
            </ambiente>
            <ambiente nome="Homologação">
                <servico nome="" url=""/>
            </ambiente>
        </uf>
        <uf sigla="SC">
            <ambiente nome="Produção">
                <servico nome="" url=""/>
            </ambiente>
            <ambiente nome="Homologação">
                <servico nome="" url=""/>
            </ambiente>
        </uf>
    </doc>
    
<!--    <doc nome="NFC-e" descricao="Nota fiscal de consumidor eletrônica">
        
    </doc>

    <doc nome="CT-e" descricao="Conhecimento de transporte eletrônico">
        
    </doc>
    
    <doc nome="MDF-e" descricao="Manifesto eletrônico de documentos fiscais">
        
    </doc>-->
</config>